[profile.default]
src = "src"
out = "out"
libs = ["lib"]
remappings = ["@omni/=lib/omni/", "@forge-std/=lib/forge-std/"]

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
